<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Database Tester</title>
 
    <!-- CSS for presentation. -->
    <style>
    h1 { font-size: 14px; color: black; }
    button { color: black; }
    </style>
</head>
<body>
    <h1>Welcome to our Database Demo!</h1>
    <tr>
		<td><p>Title:<input type = "text" name = "title"></p></td>
		<td><p>Username:<input type = "text" name = "name"></p></td>
		<td><p>Content:<input type = "text" name = "content"></p></td>
	</tr>
	<button type = "button">Submit!</button>
    <!-- JavaScript for interactivity. -->
    <script>
 
    // Get a handle on the first button element in the document.
    var button = document.querySelector( "button" );
 
    // If a user clicks on it, say hello!
    button.addEventListener( "click", function( ev ) {
        //Get data from textfields and submit to database server;
    }, false);
 
    </script>
</body>
</html>