<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SpotPost</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	</head>
	<body>
		<div id="container">
			<section id="app"></section>
		</div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="/static/js/bundle.js"></script>
	</body>
</html>
